.header{
   position: absolute;
    width: 100%;
    height: 9rem;
    padding: 0 1.775rem;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include laptop {
      padding: 0 10em;  
    }

    &--show {
       z-index: 150;
       background-color: var(--white);
    }
}

.nav__logo{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   z-index: 100;

   &--hidden {
      display:none;
   }

    @include table {
       left: auto;
       transform: translateX(0);
    }
}
 
.main-nav{
   display: none;
   justify-content: space-between;
   align-items: center;

   &--show{
      display: flex;
      z-index: 50;

      .nav__link{
         
         &--active, 
         &:hover {
            color: var(--very-light-gray);
         }
      }
   }
 
   @include table {
      width: 50%;
      height: 9rem;
      top: 0;
      left: 60%;
      display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      box-shadow: none;
      background-color: transparent;
   }
   
   @include laptop {
      width: 50%;
   }

}
 
.nav__list{
   z-index: 100;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.nav__item{
   margin-left: 1rem;
   text-align: center;
}
 
.nav__link{
   color: var(--grayish-blue);
    
   &--active, 
   &:hover {
      color: var(--very-dark-blue);

   }
 
   @include table {
      width: fit-content;
      margin-right: .2rem;
      padding: 1rem 1rem;
      font-size: .9rem;
      line-height: 1;
      border-top: none;
   }
}